@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-family-electrolize: var(--font-electrolize);
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
